* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #0F7173;
}

header {
	background-color: #0F7173;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
	text-decoration: none;
}

nav {
	float: left;
	width: 20%;
	background: #272932;
	height: 600px;
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 30px;
}

article {
	float: right;
	padding: 20px;
	width: 80%;
	background-color: #F05D5E;
	height: 600px;
}

section::after {
	content: "";
	display: table;
	clear: both;
}
		
footer {
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}

table {
	text-align: left;
	width: 100%;

}

input {
	width: 100%;
	background-color: #EFD28D;
	border: 0px;
}

a {
	color: #C49E85;
}

